.u-center-text{
    // background-color: orangered;
    // width: 100vw;
    // display: flex;
    // // align-items: center;
    // justify-content: center;
    text-align: center;
}
.u-margin-bottom-big{
    margin-bottom: 8rem;
}
.u-margin-bottom-medium{
    margin-bottom: 4rem;
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}

.u-margin-top-huge{
    margin-top: 10rem;
}